* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

// HEADER; Kom dla mnie dopracować hover na nav a li
header {
  width: 100%;
  height: 10vh;
  display: block;
  background-color: #101010;
}

.inner-header {
  width: 900px;
  height: 100%;
  display: block;
  margin: 0 auto;

}

.logo-container {
  height: 100%;
  display: table;
  float: left;
}

.logo-container h1 {
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Montserrat';
  font-size: 36px;
  font-weight: 200;
}

.logo-container h1 span {
  color: #1dd1a1;
  font-weight: 800;
}

nav {
  float: right;
  height: 100%;
}

nav a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;

}

nav a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 700;
  &:hover {
    color: #1dd1a1; //Trzeba to dopracować i robić płynne powiększenie czcionki
  }
}

// CAROUSEL SLIDER; KOM dla mnie strzałki (arrow) do dopracowania wizualnie, smukłe, cienie i fajny hover
#slider, .wrap, .slide-content {
  font-family: 'Montserrat';
  width: 100%;
  height: 90vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("../assets/img/Mountainpass.jpg");
}

.slide2 {
  background-image: url("../assets/img/Bmwm8.jpg");
}

.slide3 {
  background-image: url("../assets/img/Audi.jpg");
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: #FFFFFF;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #FFFFFF transparent transparent;
  left: 0;
  margin-left: 30px;

  &:hover {
    border-color: transparent #1dd1a1 transparent transparent;
    transition: 0.3s;
  }
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #FFFFFF;
  right: 0;
  margin-right: 30px;

  &:hover {
    border-color: transparent transparent transparent #1dd1a1;
    transition: 0.4s;
  }
}















